/* 设置选中的颜色 */
::selection {
    color: #fff;
    background: rgb(171, 173, 173);
}

/* 字体源 */
.font-400{
    font-family: 'Noto Serif SC',serif;
}

/* 中号字体 */
.font-md{
    font-size: 14px;
}

/* 字体加粗 */
.font-title{
    font-weight: 700;
    color: black;
}

/* 小头像 导航上显示的头像 */
.avatar-xs {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

/* 按钮悬浮样式 */
.button-hover:focus {
    outline: none;
}
.button-hover:hover {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.24),0 4px 6px 0 rgba(32, 32, 32, 0.19);
}

/* 设置滚动条颜色 */
#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    display: block;
    min-height: 12px;
    min-width: 8px;
    border-radius: 6px;
    background-color: rgb(161, 182, 199);
}
::-webkit-scrollbar-thumb:hover {
    display: block;
    min-height: 12px;
    min-width: 8px;
    border-radius: 6px;
    background-color: rgb(139, 160, 187);
}

/* 警告框 */
.alert-login-reg{
    margin-top: 50px;
    color: #676a71;
    background-color: #c7cada;
    border-color: #ffffff;
    text-align: center;
}
.alert-close-button:focus{
    outline: 0;
}



/*************************************
导航样式表
作者:Yaozh
更新时间: 2020/11/18
************************************/
nav .container-fluid{
    margin-left: 30px;
    margin-right: 30px;
    
}

.navbar-bbs a{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* 导航悬浮样式 */
.navbar-bbs .item-hover{
    transition: all 0.3s;
}

.navbar-bbs .item-hover:hover{
    background-color: rgba(196, 196, 201, 0.5);
    border-radius: 6px;
}

/* 导航项字体大小 */
.item-font-size-sm{
    font-size: 5px;
}

.item-font-size-md{
    font-size: 14px;
}

.item-font-size-lg{
    font-size: 30px;
}

/* 搜索按钮 */
.search-button {
    background-color: rgb(132, 142, 143); 
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 18px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.navbar-bbs .input-text {
    height: 32px;
    margin-right: 10px;
    border-radius: 18px;
}

.navbar-bbs .input-text:focus{
    box-shadow:none;
    outline: none;
}

/*  */
.dropdown-item-hover:active{
    background-color: rgba(196, 196, 201, 0.5);
    color: rgb(0, 0, 0);
}

.dropdown-item-hover:hover{
    background-color: rgba(196, 196, 201, 0.5);
    border-radius: 1px;
}

.dropdown-item-hover-no:active{
    background-color: rgba(196, 196, 201, 0.5);
    color: rgb(0, 0, 0);
}

.dropdown-item-hover-no:hover{
    background-color: #fff;
    border-radius: 1px;
}

.nav-bg{
    background: #fbfdfdec;
}


/*************************************
登录注册界面样式表
作者:Yaozh
更新时间: 2020/11/18
************************************/

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.body-login {
    margin-top: 80px;
    border-radius: 1rem;
}

.card-signin {
    background-color: rgba(195, 206, 216,.85);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 3rem;
}

.form-signin {
    width: 100%;
}

.form-signin .font-size-md {
    font-size: 14px;
}

.form-signin .btn {
    font-size: 100%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-signin .item-hover{
    transition: all 0.3s;
}


.card-reg {
    background-color: rgba(195, 206, 216,.85);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-reg .card-title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.card-reg .card-body {
    padding: 3rem;
}

.form-reg {
    width: 100%;
}

.form-reg .font-size-md {
    font-size: 14px;
}

.form-reg .btn {
    font-size: 100%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-reg .item-hover{
    transition: all 0.3s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: 50px;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.form-signin .btn-register {
    color: white;
    background-color: #4f698a;
}

.form-signin .btn-login{
    color: white;
    background-color: #7da6dd;
}

.form-signin .form-verify {
    height: 48px;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
}

.form-signin .verify_code{
    margin-top: 3px;
    margin-bottom: 14px;
    width:85px;
    height: 45px;
    border-radius: 2px;
    margin-left: 5px;
}

.form-reg .btn-register {
    color: white;
    background-color: #4f698a;
}

.form-reg .form-verify {
    height: 48px;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
}

.form-reg .verify_btn{
    color: white;
    background-color: #7da6dd;
    border: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 5px 2px 5px;
    border-radius: 2rem;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.form-reg .verify_input_btn{
    outline: none;
    padding-top: 4px;
}

/* 
footer样式
*/
.footer-icon{
    width: 30px; 
    height:30px; 
    margin-right: 5px;
}
.footer-link >div>a{
    color: rgb(59, 57, 57);
}
.footer-bg{
    background: rgb(233, 237, 238);
}
/* 动态为footer添加类fixed-bottom */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* 
编辑框样式
*/
.container-edit{
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #fafcfcf7;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .5rem;
    border-radius: 1.1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.container-edit .edit-input{
    margin-right: 0px; 
    margin-left: 0px;
}

.container-edit .edit-input:focus{
    box-shadow:none;
    outline: none;
}

.container-edit .edit-submit-bnt{
    background-color: rgb(132, 142, 143);
    border: none;
    color: white;
    padding: 6px 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 18px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

/* 首页样式 */

.body-index {
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 1rem;
    padding-bottom: 30px;
    background-color: rgb(247 251 252 / 90%);
}
.top-pic-body {
    background-color: rgb(247 251 252 / 90%);
    margin-bottom: 4rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
@media all and (max-width:640px) {
    .top-pic-body .top-pic-img {
        height: 16rem;
        border-radius: .5rem;
    }
}
@media all and (max-width:765px) and (min-width:640px) {
    .top-pic-body .top-pic-img {
        height: 23rem;
        border-radius: .5rem;
    }
}
@media all and (min-width:765px) {
    .top-pic-body .top-pic-img {
        height: 32rem;
        border-radius: .5rem;
    }
}
.part {
    box-shadow: .5rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    border: none;
}
.part .part-post {
    border: none;
    border-radius: .6rem;
}
.info-card {
    background-color: rgb(198 207 217);
    box-shadow: .5rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    border: 0;
}
.rank {
    background-color: rgb(198 207 217);
    box-shadow: .5rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    border: 0;
}
.rank-title {
    font-size: 19px;
    font-weight: 400;
    float: left;
    border: 0;
}
.rank-list {
    background-color: rgb(198 207 217);
    border-radius: 0 0 .6rem .6rem;
}
.rank-list .rank-item {
    background-color: rgb(210 225 240 / 85%);
    border-radius: .5rem;
    border: 0;
    margin-top: 9px;
}
.rank-list .rank-item >a{
    text-decoration: none;
}
.info-card .info-1 {
    background-color: rgb(210 225 240 / 59%);
    border-radius: .5rem;
}
.info-card .username {
    font-size: 19px;
    font-weight: 700;
}
.info-card .info-2 {
    font-size: 13px;
}
.info-card .info-enter {
    background-color: rgb(210 225 240 / 59%);
    border-radius: .5rem;
}
.info-card .info-enter>a {
    color: black;
    font-size: 15px;
}
.info-card .info-enter>a:hover {
    color: rgb(97, 142, 177);
    text-decoration: none;
}
.part-title {
    font-size: 19px;
    font-weight: 400;
    float: left;
    background-color: rgb(198 207 217);
}
.part-enter>a {
    color: rgb(88, 90, 92);
    float: right;
    font-size: 15px;
    text-decoration: none;
}
.part-enter :hover {
    color: rgb(97, 142, 177);
}
.post-info {
    font-size: 13px;
    display: table-cell;
    vertical-align: bottom;
    padding: 0;
    margin: 0;
}
.post-title>a {
    color: rgb(44, 46, 46);
    font-size:15px;
    text-decoration: none;
}
.post-title>a:hover {
    color: rgb(97, 142, 177);
}
.avatar-md {
    width: 100%;
    border-radius: 100%;
    border: 5px solid rgb(210 225 240 / 85%);
}
.avatar-sm {
    width: 13%;
    height: auto;
    border-radius: 100%;
    margin-right: 10px;
}


/* 帖子详情页样式 */
.body-guide {
    margin-top: 50px;
    border-radius: 1rem;
    padding-top: 30px;
}
.body-end {
    border-radius: 1rem;
    background-color: rgb(238 242 245 / 92%);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 6rem;
    margin-bottom: 4rem;
}
.body-detail {
    margin-top: 10px;
    background-color: rgb(238 242 245 / 92%);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
@media all and (max-width:768px) {
    .card-left {
        margin-bottom: 1rem;
        border-radius: .9rem;
        background-color: #4f698af0;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .card-left .data {
        background-color: #4f698af0;
        border-radius: .9rem;
        padding: 20%;
    }
}
@media all and (min-width:768px) {
    .card-left {
        margin-bottom: 1rem;
        border-radius: 1rem 0 0 1rem;
        background-color: #4f698af0;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .card-left .data {
        background-color: #4f698af0;
        margin: 0;
        border-radius: 1rem 0 0 1rem;
        padding: 20%;
    }
}
@media all and (max-width:768px) {
    .card-right {
        margin-bottom: 1rem;
        border-radius: 1rem;
        padding: 5px 5px 10px 10px;
        background-color: rgb(198 207 217);
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
}
@media all and (min-width:768px) {
    .card-right {
        margin-bottom: 1rem;
        border-radius: 0 1rem 1rem 0;
        padding: 5px 5px 10px 10px;
        background-color: rgb(198 207 217);
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
}
.headpic {
    display: inline-block;
    height: auto;
    max-width: 100%;
    margin-bottom: 15px;
    border-style: solid;
    border-color: rgba(67, 82, 108, 1);
    border-width: 5px;
}
.postname {
    margin: 20px 0 20px 0;
    border-color: rgba(67, 82, 108, 1);
    border-bottom-style: solid;
    font-size: 23px;
}
.time {
    font-size: 13px;
    background-color: rgb(198 207 217);
    border-bottom-style: dotted;
    border-color: #4f698a;
}
.posttext {
    background-color: rgb(198 207 217);
    padding: 20px 10px 20px 10px;
    font-size: 13px;
}
.edit {
    padding-left: 25px;
}
.delete {
    padding-left: 80px;
}
.page2 {
    position: relative;
    margin-bottom: 50px;
}
.pagenum1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
}
.pagenum2 {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li {
    display: inline;
}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
ul.pagination li a.active {
    background-color: #4f698a;
    color: white;
    border-radius: 5px;
}
ul.pagination li a:hover:not(.active) {
    background-color: rgb(115, 146, 173);
    ;
}
a {
    color: #4f698a;
}
a:link {
    text-decoration: none;
}
.button {
    background-color: rgb(115, 146, 173);
    border: none;
    border-radius: 16px;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    cursor: pointer; 
    float: right;
}
.button:focus{
    outline: 0;
    border: none;
}
.button:hover {
    background-color: #4f698a;
    color: white;
    text-decoration: none;
    border: none;
}
.pos {
    position: absolute;
    right: 0;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.replyfont {
    font-size: 19px;
    margin: 24px 20px 0 20px;
}
.reply {
    border-radius: 20px;
    margin: 0;
    padding: 0;
}
.reply-edit {
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.post-detail-info {
    background-color: #ecf1f575;
    border-radius: .6rem;
    box-shadow: 0 0.3rem .5rem 0 rgba(0, 0, 0, 0.1);
    font-size: 13px;
}

/* 用户主页 */
.button-setting
{
    background-color: rgb(115, 146, 173);
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 20px;
    margin-top:20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    cursor: pointer;
    
}
.card-setting
{
    background-color: rgb(221, 227, 233);
    border-radius: 1rem;
    overflow: auto;
    border: none;
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.card-front-page
{
    background-color:rgb(221, 227, 233);
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 50px;
    overflow: auto;
}
.setting-input
{
    border-radius: 1rem 1rem 1rem 1rem;
}

.nav-text
{
    color:rgb(22, 21, 21);
    border-radius: 1.05rem;
    display: block;
    padding: 0.5rem 1rem;
}
.nav-text:hover
{
    background-color:rgb(220 225 232 / 78%);
    color:rgb(22, 21, 21);
}
.nav-active
{
    background-color:rgb(220 225 232 / 78%);
}
.table-passage
{
    background-color: rgb(228, 236, 241);
    border-radius: 1rem 1rem 1rem 1rem;
    overflow:auto;
    border-top: hidden;
    border-bottom: hidden;
}
.table-passage-td
{
    border-bottom: black;
}
.frontpage-table-tr
{
    background-color: rgb(228, 236, 241);
}
.container-sideindex
{
       margin-top:100px;
       margin-left: 50px;
       background: #f3f4f5;
       width:150px;
       height: 500px;
       border-radius: 1rem;
}
.container-content
{
    margin-top:100px;
    margin-left:150px;
    border-radius:1rem;
    width:500px;
}
ul.side-index
{
    list-style-type: none;
    height: 500px;
    width:150px;
    margin-top: 0px;
    margin-left: 0px;
}
li.index
{
    margin-top:50px;
    font-size: large;
}
.page-body{
    background-color: rgb(238 242 245 / 92%);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
.change-input {
    background-color: rgba(255, 255, 255, 0.603);
}
.mynavcol{
    background-color: rgba(104, 141, 184, 0.548); 
    border-radius: 1.2rem; 
    font-size: 16px; 
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.upload{
    background-color: rgb(115, 146, 173);
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    cursor: pointer;
}
/*隐藏默认样式*/
input[id=file]{
	margin-left:-2000px;
	height:0;
}