/* 选中颜色 */
::selection {
    color: #fff;
    background: rgb(171, 173, 173);
}

/* 字体源 */
.font-400{
    font-family: 'Noto Serif SC',serif;
}

.font-md{
    font-size: 14px;
}

.font-title{
    font-weight: 700;
    color: black;
}

/* 小头像 导航上显示的头像 */
.avatar-xs {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    
}

/* 按钮悬浮样式 */
.button-hover:focus {
    outline: none;
}

.button-hover:hover {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.24),0 4px 6px 0 rgba(32, 32, 32, 0.19);
}

.alert-login-reg{
    margin-top: 50px;
    color: #676a71;
    background-color: #c7cada;
    border-color: #ffffff;
    text-align: center;
}

#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    display: block;
    min-height: 12px;
    min-width: 8px;
    border-radius: 6px;
    background-color: rgb(161, 182, 199);
}

::-webkit-scrollbar-thumb:hover {
    display: block;
    min-height: 12px;
    min-width: 8px;
    border-radius: 6px;
    background-color: rgb(139, 160, 187);
}


/* 动态为footer添加类fixed-bottom */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*************************************
导航样式表
作者:Yaozh
更新时间: 2020/11/18
************************************/
nav .container-fluid{
    margin-left: 30px;
    margin-right: 30px;
    
}

.navbar-bbs a{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* 导航悬浮样式 */
.navbar-bbs .item-hover{
    transition: all 0.3s;
}

.navbar-bbs .item-hover:hover{
    background-color: rgba(196, 196, 201, 0.5);
    border-radius: 6px;
}

/* 导航项字体大小 */
.item-font-size-sm{
    font-size: 5px;
}

.item-font-size-md{
    font-size: 14px;
}

.item-font-size-lg{
    font-size: 30px;
}

/* 搜索按钮 */
.search-button {
    background-color: rgb(132, 142, 143); 
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 18px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.navbar-bbs .input-text {
    height: 32px;
    margin-right: 10px;
    border-radius: 18px;
}

.navbar-bbs .input-text:focus{
    box-shadow:none;
    outline: none;
}

/*  */
.dropdown-item-hover:active{
    background-color: rgba(196, 196, 201, 0.5);
    color: rgb(0, 0, 0);
}

.dropdown-item-hover:hover{
    background-color: rgba(196, 196, 201, 0.5);
    border-radius: 1px;
}

.dropdown-item-hover-no:active{
    background-color: rgba(196, 196, 201, 0.5);
    color: rgb(0, 0, 0);
}

.dropdown-item-hover-no:hover{
    background-color: #fff;
    border-radius: 1px;
}

.nav-bg{
    background: #fbfdfdec;
}
/*  */

/*************************************
登录注册界面样式表
作者:Yaozh
更新时间: 2020/11/18
************************************/

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.body-login {
    margin-top: 80px;
    border-radius: 1rem;
}

.card-signin {
    background-color: rgba(195, 206, 216,.85);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 3rem;
}

.form-signin {
  width: 100%;
}

.form-signin .font-size-md {
    font-size: 14px;
}

.form-signin .btn {
  font-size: 100%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-signin .item-hover{
    transition: all 0.3s;
}


.card-reg {
    background-color: rgba(195, 206, 216,.85);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-reg .card-title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.card-reg .card-body {
  padding: 3rem;
}

.form-reg {
  width: 100%;
}

.form-reg .font-size-md {
    font-size: 14px;
}

.form-reg .btn {
  font-size: 100%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-reg .item-hover{
    transition: all 0.3s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: 50px;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.form-signin .btn-register {
    color: white;
    background-color: #4f698a;
}

.form-signin .btn-login{
    color: white;
    background-color: #7da6dd;
}

.form-signin .form-verify {
    height: 48px;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
}

.form-signin .verify_code{
    margin-top: 3px;
    margin-bottom: 14px;
    width:85px;
    height: 45px;
    border-radius: 2px;
    margin-left: 5px;
}

.form-reg .btn-register {
    color: white;
    background-color: #4f698a;
}

.form-reg .form-verify {
    height: 48px;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
}

.form-reg .verify_btn{
    color: white;
    background-color: #7da6dd;
    border: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 5px 2px 5px;
    border-radius: 2rem;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-reg .verify_input_btn{
    outline: none;
    padding-top: 4px;
}

.container-edit .edit-input{
    margin-right: 0px; 
    margin-left: 0px;
}

.container-edit .edit-input:focus{
    box-shadow:none;
    outline: none;
}

.footer-icon{
    width: 30px; 
    height:30px; 
    margin-right: 5px;
}

.footer-link >div>a{
    color: rgb(59, 57, 57);
}

.alert-close-button:focus{
    outline: 0;
}

.footer-bg{
    background: rgb(233, 237, 238);
}