<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %} - XXBBS</title>
</head>

<body>

    <div class="wrapper">
        <!--背景图片-->
        <div id="web_bg" style="background-image: url(../static/img/bg.jpg);"></div>
    </div>

    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bg fixed-top shadow p-1 mb-5 font-400 ">
        <div class="container-fluid nav-bg">
            <!-- 品牌 -->
            <a class="navbar-brand" href="#">XXBBS</a>

            <!-- 下拉菜单 -->
            <button class="navbar-toggler" style="outline: none; border: none;" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 导航主体 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav navbar-bbs">
                    <li class="nav-item active" style="margin-right: 10px; ">
                        <a class="nav-link" href="#"><i class="fa fa-home fa-fw"></i>首页 <span
                                class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <ul class="navbar-nav navbar-bbs ml-lg-auto">
                    <!-- 搜索输入框 与 搜索按钮 -->
                    <form class="form-inline ">

                        <input class=" form-control input-text " type="search" placeholder="What you want?"
                            aria-label="Search">

                        <button class="search-button button-hover " type="submit"><i
                                class="fa fa-search fa-fw"></i>搜索</button>

                    </form>

                </ul>

                {% if g.user %}

                <!-- 如果用户登录了 -->
                <ul class="navbar-nav  navbar-bbs ml-auto">
                    <li class="nav-item dropdown">

                        <!-- 下拉菜单按钮 -->
                        <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">

                            <!-- 用户头像 -->
                            <img class="avatar-xs " src="{{ url_for('static', filename='img/avatar.jpg') }}">
                        </a>

                        <!-- 下拉菜单 -->
                        <div class="dropdown-menu w-50" aria-labelledby="navbarDropdown">

                            <!-- 展示部分(不可跳转) -->
                            <a class="dropdown-item mx-0 dropdown-item-hover-no"
                                href="#"><b>{{ g.user['username'] }}</b></a>
                            <a class="item-font-size-md dropdown-item mx-0 dropdown-item-hover-no"><i
                                    class="fa fa-level-up fa-fw"></i>等级:{{ g.user['level'] }}</a>
                            <a class="item-font-size-md dropdown-item mx-0 dropdown-item-hover-no"><i
                                    class="fa fa-jpy fa-fw"></i>积分:{{ g.user['points'] }}</a>


                            <!-- 经验条 -->
                            <div class="progress w-75" style="height: 8px; margin-left:25px;">
                                <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <!-- 分割线 -->
                            <div class="dropdown-divider"></div>

                            <!-- 可跳转选项 -->
                            <a class="item-font-size-md dropdown-item mx-0 dropdown-item-hover" href="#"><i
                                    class="fa fa-user fa-fw"></i>主页</a>
                            <a class="item-font-size-md dropdown-item mx-0 dropdown-item-hover" href="#"><i
                                    class="fa fa-gear fa-fw"></i>设置</a>
                            <a class="item-font-size-md dropdown-item mx-0 dropdown-item-hover" href="#"><i
                                    class="fa fa-sign-out fa-fw"></i>注销</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-bbs">

                    <li class="nav-item item-hover active ">
                        <a class="nav-link" href="#"><i class="fa fa-pencil-square-o fa-fw"></i>发帖</a>
                    </li>

                    <li class="nav-item item-hover active ">
                        <a class="nav-link" href="#"><i class="fa fa-bell-o fa-fw"></i>通知</a>
                    </li>

                </ul>

                {% else %}

                <!-- 如果用户没有登录 -->
                <ul class="navbar-nav ml-auto navbar-bbs" style="margin-right: 40px;">

                    <li class="nav-item item-hover active ">
                        <a class="nav-link" href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in fa-fw"></i>登录</a>
                    </li>

                    <li class="nav-item item-hover active ">
                        <a class="nav-link" href="{{ url_for('auth.register') }}"><i
                                class="fa fa-user-plus fa-fw"></i>注册</a>
                    </li>

                </ul>

                {% endif %}
            </div>
        </div>
    </nav>

    {% block main %}{% endblock %}

    <!-- footer -->
    <footer class="footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb=0">友情链接
                    <hr class="mt-1 mb-2">
                </div>

                <div class="col-12 mt-0 mb-2 row text-center item-font-size-md overflow-auto footer-link"></div>
                <div class="col-2 my-1 ">
                    <a href="https://getbootstrap.com/"> <img
                            src="{{ url_for('static', filename='img/bootstrap-icon.png') }}" class="footer-icon"></a>
                </div>
                <div class="col-2 my-1">
                    <a href="https://dormousehole.readthedocs.io/en/latest/"><img
                            src="{{ url_for('static', filename='img/flask-icon.png') }}" class="footer-icon"></a>
                </div>
                <div class="col-2 my-1">
                    <a href="http://canvas.tongji.edu.cn/"><img
                            src="{{ url_for('static', filename='img/canvas-icon.ico') }}" class="footer-icon"></a>
                </div>
                <div class="col-2 my-1">
                    <a href="https://www.python.org/"><img src="{{ url_for('static', filename='img/python-icon.png') }}"
                            class="footer-icon"></a>
                </div>
                <div class="col-2 my-1">
                    <a href="https://pandao.github.io/editor.md/"><img
                            src="{{ url_for('static', filename='img/editormd-icon.png') }}" class="footer-icon"></a>
                </div>
                <div class="col-2 my-1">
                    <a href="https://github.com/"><img src="{{ url_for('static', filename='img/github-icon.png') }}"
                            class="footer-icon"></a>
                </div>
            </div>

            <div class="col-12 mt-2 pb-2 text-center" style="font-size: 10px;">
                Copyright ©2020 XXBBS TJUCS
            </div>
        </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>
        $(function () {
            function footerPosition() {
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,//正文全文高度
                    winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
                if (!(contentHeight > winHeight)) {
                    //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                    $("footer").addClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
        });
    </script>
    {% block js %}{% endblock %}
</body>

</html>