{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.preview.min.css')}}">

{% endblock %}

{% block title %}{% endblock %}

{% block main %}

<!-- 回帖按钮 -->
<div class="container body-guide font-400">
    <div class="row ">
        <div class="col-md-12">
            <a href="#reply" class="button mr-md-5 "><i class="fa fa-reply fa-fw"></i>回帖</a>

            {% if g.user %}
            {% if not iscollect %}
            <a href="{{ url_for('posts.collect',postid=postdata[0]) }}" class="button mr-3 "><i
                    class="fa fa-star fa-fw"></i>收藏({{postdata[9]}})</a>
            {% else %}
            <a href="{{ url_for('posts.uncollect',postid=postdata[0]) }}" class="button mr-3 "><i
                    class="fa fa-star fa-fw"></i>取消收藏({{postdata[9]}})</a>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>

<!-- 帖子内容 -->
<div class="container body-detail font-400">
    <div class="row mx-md-5 mx-1 pt-md-4">
        <div class="col postname">
            <i class="fa fa-quote-left fa-fw"></i>&nbsp;{{ postdata[1] }}&nbsp;<i class="fa fa-quote-right fa-fw"></i>
        </div>
    </div>

    <div class="row mx-md-5 mx-1 pb-4">
        <!-- 头像信息 -->
        <div class="col-md-3 card-left ">
            <div class="card-header row" style="background-color:rgb(0,0,0,0); border: 0;">
                <div class="col-md-10 col-4 mt-md-4 my-auto mx-md-3 mx-auto px-md-4">
                    <a href="#"><img class="avatar-md" src="{{ url_for('userpage.showImg', id= hostinfo[0]) }}"></a>
                </div>
                <div class="col-md-12 col-8 mx-auto py-2 pb-2 my-md-4 post-detail-info">
                    <div style="font-weight: 700;">{{ hostinfo[1] }}</div>
                    <div class="info-2 mt-2">等级: Lv.{{ hostinfo[3] }}</div>
                    <div class="info-2">积分: {{ hostinfo[2] }}</div>
                    <div class="info-2">用户组: {{ hostinfo[4] }}</div>

                    <div class="progress w-100 mt-3" style="height: 10px;">
                        <div class="progress-bar"
                            style="width: {{ hostinfo[5] }}%; background-color: rgb(93, 156, 196);"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 帖子信息 -->
        <div class="col-md-9 card-right pt-3 border-0">

            <div class="row px-3">
                <div class="col-12 text-right time">
                    <i class="fa fa-clock-o fa-fw"></i>发表于{{ postdata[5] }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-reply fa-fw"></i>回帖数:{{ replysize }}&nbsp;</div>
            </div>

            <div class="posttext border-0 mb-md-4 px-1" id="test-markdown-view">
                <textarea>
{{ postdata[3] }}
                </textarea>
            </div>
            <div class="row px-3">
                <div class="col-12 text-right">
                    </i>#1</div>
            </div>

            <div class="row px-3">
                <div class="col-12 text-right" style="font-size: 13px;">
                    {% if g.user %}
                    {% if g.userinfo[2]=='part'~postdata[2] or g.userinfo[2]=='admin'%}
                    <a href="{{ url_for('edit.delete', id=postdata[0]) }}"><i class="fa fa-trash fa-fw"></i>删除</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% if g.userinfo[2]=='admin' or g.user[0]==postdata[4] or g.userinfo[2]=='part'~postdata[2] %}
                    <a href="{{ url_for('edit.edit', id=postdata[0]) }}"><i class="fa fa-edit fa-fw"></i>编辑</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    {% for reply in replyinfo %}
    <div class="row mx-md-5 mx-1 pb-4">
        <!-- 头像信息 -->
        <div class="col-md-3 card-left ">
            <div class="card-header row" style="background-color:rgb(0,0,0,0); border: 0;">
                <div class="col-md-10 col-4 mt-md-4 my-auto mx-md-3 mx-auto px-md-4">
                    <a href="#"><img class="avatar-md" src="{{ url_for('userpage.showImg', id= reply[1][0]) }}"></a>
                </div>
                <div class="col-md-12 col-8 mx-auto pt-1 pb-2 my-md-4 post-detail-info">
                    <div style="font-weight: 700;">{{ reply[1][1] }}</div>
                    <div class="info-2 mt-2">等级:{{ reply[1][3] }}</div>
                    <div class="info-2">积分:{{ reply[1][2] }}</div>
                    <div class="info-2">用户组:{{ reply[1][4] }}</div>

                    <div class="progress w-100 mt-3" style="height: 10px;">
                        <div class="progress-bar"
                            style="width: {{ reply[1][5] }}%; background-color: rgb(93, 156, 196);"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 帖子信息 -->
        <div class="col-md-9 card-right pt-3 border-0">

            <div class="row px-3">
                <div class="col-12 text-right time">
                    <i class="fa fa-clock-o fa-fw"></i>发表于{{ reply[0][3] }}&nbsp;&nbsp;&nbsp;</div>
            </div>

            <div class="posttext border-0 mb-md-4 px-1" id="{{ loop.index }}">
                <textarea>
{{ reply[0][2] }}
                </textarea>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- 翻页 -->
<div class="container">
    <div class="row page2 mx-auto">
        <ul class="pagination pagenum2">
            {% for i in loops %}

            {% if i==pages[0] %}
            <li><a class="active" href="#">{{ i }}</a></li>
            {% else %}
            <li><a href="{{ url_for('posts.posts',postid=postdata[0],page=i) }}">{{ i }}</a></li>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
</div>

<!-- 回复编辑框 -->
<div class="container body-end font-400" id="reply">
    <div class="row reply replyfont mx-md-5 mx-1 py-4 justify-content-between">

        <div class="col-md-12">
            <button form="test-editor" type="submit" class="button"><i class="fa fa-reply fa-fw"></i>回帖</button>
        </div>

        <form id="test-editor" class="row mt-3 reply-edit" method="POST"
            action="{{ url_for('posts.reply', postid=postdata[0]) }}">
            <textarea class="col-md-12" name="content" required></textarea>
        </form>

    </div>
</div>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='editormd/editormd.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>

<script type="text/javascript">
    $(function () {
        for (var i = 1; i <= {{ replysize }}; i++) {
        var testView = editormd.markdownToHTML(i.toString(), {
            htmlDecode: "style,script,iframe"
        });
    }
    var testView = editormd.markdownToHTML("test-markdown-view", {
            htmlDecode: "style,script,iframe"
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        var editor = editormd("test-editor", {
            emoji: true,
            height: 400,
            autoFocus: false,
            imageUpload: false,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭  
            path: "{{ url_for('static', filename='editormd/lib/') }}",
            watch: false,
            toolbarIcons: function () {
                return ["undo", "redo", "|", "bold", "del", "italic", "quote", "h3", "|", "list-ul", "list-ol", "hr", "link", "image", "code", "table", "datetime", "emoji", "|", "watch", "clear"]
            }
        });
    });
</script>

{% endblock %}