{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.min.css')}}">

{% endblock %}

{% block title %}Let's Write{% endblock %}

{% block main %}

<!-- 编辑栏 -->
<form class="container font-400 container-edit " method="POST">
    <div class="row mx-1">

        <div class="row input-group mt-5 justify-content-between" style="margin-right: 0px; margin-left: 0px;">

            <select class="col-4 custom-select font-md edit-input" style="border-radius: 15px;" name="type" {% if post[0] != 0 and g.userinfo[2] != 'admin' and g.userinfo[2] != 'part'~post[2] %}disabled="disabled"{% endif %} required>
                <option value="1" {% if post != None and post[2] == 1 %}selected="select"{% endif %}>技术分享</option>
                <option value="2" {% if post != None and post[2] == 2 %}selected="select"{% endif %}>学习生活</option>
                <option value="3" {% if post != None and post[2] == 3 %}selected="select"{% endif %}>休闲娱乐</option>
                <option value="4" {% if post != None and post[2] == 4 %}selected="select"{% endif %}>摸鱼灌水</option>
            </select>

            <input type="text" class="col-7 form-control font-md edit-input font-title" style="border-radius: 15px;"
                name="title" placeholder="标题..." value="{%if post != None %}{{ post[1] }}{% endif %}" required>

        </div>

        <div id="test-editor" class=" row mt-4">
            <textarea class="col-12" name="content" style="display:none;" required>
{% if post[0] != 0%}{{post[3]}}{% else %}
### 这是小标题🧑
**这是粗体❤**

> 这是引用🎁

*斜体不用我多说了吧*

~~我被删除了😅~~

```
Hello World!
这里放代码🥳
```
![图片](http://cdn.jsdelivr.net/gh/LastDance-Miss/image/img04/20200603121555.png)
{% endif %}
</textarea>
        </div>

    </div>

    <div class="row justify-content-end mx-2 mt-3 mb-2">
        <button type="submit" class="edit-submit-bnt px-3 my-2 button-hover">
        {% if post[0] != 0 %}保&nbsp;&nbsp;&nbsp;存{% else %}发&nbsp;&nbsp;&nbsp;布{% endif %}
        </button>
    </div>
</form>

{% endblock %}

{% block js %}

<!-- <script src="{{ url_for('static', filename='editormd/editormd.js') }}"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/editor-md/1.5.0/editormd.min.js"></script>

<script type="text/javascript">
    $(function () {
        var editor = editormd("test-editor", {
            emoji: true,
            height: 600,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭
            imageUploadURL: "{{ url_for('edit.upload') }}",  
            path: "{{ url_for('static',filename='editormd/lib/') }}",
            toolbarIcons: function () {
                return ["undo", "redo", "|", "bold", "del", "italic", "quote", "ucwords", "uppercase", "|", "h1", "h2", "h3", "|", "list-ul", "list-ol", "hr", "|", "link", "reference-link", "image", "code", "code-block", "table", "datetime", "emoji", "html-entities", "|", "goto-line", "watch", "preview", "clear", "search", "|", "help", "info"]
            }
        });
    });
</script>

{% endblock %}