{% extends 'base.html' %}

{% block title %}Part{% endblock %}

{% block main %}
<div class="container body-index font-400">
    <!-- 左边: 板块一二三四 右边:用户信息 -->
    <div class="row ">

        <div class="col-md-12 col-lg-12 px-lg-5 px-sm-4 px-md-4 mt-5">
            <div class="row justify-content-between">

                <!-- 左边: 板块一二三四-->
                {% if g.user %}
                <div class="col-lg-8 px-3 mb-5">
                {% else %}
                <div class="col px-3 mb-5">
                {% endif %}
                    <div class="card part mb-1">

                        <div class="card-header part-title part-post py-2 " style="border-radius: .6rem .6rem 0 0;">
                            <i class="fa fa-quote-left fa-fw"></i>&nbsp;{{ typename }}&nbsp;<i
                                class="fa fa-quote-right fa-fw"></i>
                        </div>
                        <ul class="list-group ">
                            {% for post in partdata %}
                            <li class="list-group-item part-post">
                                <div class="row justify-content-between">
                                    <div class="col-5 text-truncate post-title">
                                        <a href="{{ url_for('posts.posts', postid=post[0] ,page=1) }}">{{ post[1] }}</a>
                                    </div>
                                    <div class="col-2 p-0 text-truncate post-info">
                                        <i class="fa fa-user fa-fw"></i>{{ post[2] }}
                                    </div>
                                    <div class="col-4 p-0 text-truncate post-info">
                                        <i class="fa fa-clock-o fa-fw"></i>{{ post[3] }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- 翻页 -->
                    <div class="container">
                        <div class="row page2 mx-auto">
                            <ul class="pagination pagenum2">
                                {% for i in loops %}
                    
                                {% if i==pages[0] %}
                                <li><a class="active" href="">{{ i }}</a></li>
                                {% else %}
                                <li><a href="{{ url_for('parts.parts',type=type,page=i) }}">{{ i }}</a></li>
                                {% endif %}
                    
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if g.user %}
                <!-- 右边:用户信息-->
                <div class="col-lg-4 px-3">
                    <div class="card w-100 info-card mb-5 pt-2 container-fluid px-0">

                        <div class="card-header row" style="background-color:rgb(0,0,0,0); border: 0;">
                            <div class="col-4 my-auto pl-2 pr-0">
                                <a href="{{ url_for('userpage.showUserpage', id=g.user[0]) }}"><img class="avatar-md" src="{{ url_for('userpage.showImg', id=g.user[0]) }}"></a>
                            </div>
                            <div class="col-7 info-1 mx-auto pt-1 pb-2">
                                <div class="username">{{ g.user[1] }}</div>
                                <div class="info-2 mt-2">等级: Lv.{{ g.group[0] }}</div>
                                <div class="info-2">积分: {{ g.userinfo[4] }}</div>
                                <div class="info-2">用户组: {{ g.group[2] }}</div>
                                <div class="progress w-100 mt-3" style="height: 10px;">
                                    <div class="progress-bar"
                                        style="width: {{ g.group[1] }}%; background-color: rgb(93, 156, 196);"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body row justify-content-between ">
                            <div class="col-5 info-enter mx-2  py-1 text-center">
                                <a href="{{ url_for('userpage.collect', id=g.user[0]) }}"><i class="fa fa-star fa-fw"></i>收藏</a>
                            </div>
                            <div class="col-5 info-enter mx-2 py-1 text-center">
                                <a href="{{ url_for('userpage.setting', id=g.user[0]) }}"><i class="fa fa-gear fa-fw"></i>设置</a>
                            </div>
                        </div>


                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}