{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block main %}

{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-login-reg" role="alert">
    {{ message }}
    <button type="button" class="close  alert-close-button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<!-- 登录栏容器 -->
<div class="container body-login font-400">
    <div class="row">
        <div class="col-sm-9 col-md-6 col-lg-5 mx-auto">
            <!-- 登录卡片 -->
            <div class="card card-signin ">
                <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 30px; font-weight: bold;">登&nbsp;&nbsp;&nbsp;录
                    </h3>
                    <form class="form-signin" method="POST">

                        <!-- 输入用户名 -->
                        <div class="form-label-group font-size-md">

                            {% if userdata.username == '0' %}
                            <input type="text" id="inputEmail" class="form-control" placeholder="电子邮箱/用户名"
                            maxlength="12" name="username" style="flex:1; font-size: 14px;" autofocus required>
                            {% else %}
                            <input type="text" id="inputEmail" class="form-control" placeholder="电子邮箱/用户名"
                            maxlength="12" name="username" style="flex:1; font-size: 14px;" value="{{ userdata.username }}"
                                autofocus required>
                            {% endif %}

                            <label for="inputEmail">电子邮箱/用户名</label>
                        </div>

                        <!-- 输入密码 -->
                        <div class="form-label-group font-size-md">
                            <input type="password" id="inputPassword" class="form-control" placeholder="密码"
                            maxlength="20" name="password" style="flex:1; font-size: 14px;" required>
                            <label for="inputPassword">密码</label>

                        </div>

                        <!-- 输入验证码 -->
                        <div class="" style="display: flex;justify-content:space-between;">
                            <!-- 显示验证码图片 -->
                            <input class="form-control form-verify" style="flex:1; font-size: 14px;" id="inputCode"
                            maxlength="5" name="verifycode" type="text" placeholder="验证码" required>
                            <img id="verify_code" class="verify_code" src="/auth/imageCode"
                                onclick="this.src='/auth/imageCode?'+ Math.random()">

                        </div>

                        
                        <!-- 登录提交按钮 -->
                        <button class="btn search-button  btn-login button-hover  btn-block item-hover" type="submit"><i
                                class="fa fa-sign-in fa-fw"></i>登录</button>

                        <!-- 重置密码跳转 -->
                        <div class="mb-3 mt-3 font-size-md ">
                            <a href="#">忘记密码?</a>
                        </div>

                        <!-- 分割线 -->
                        <hr class="my-3">

                        <!-- 注册按钮 -->
                        <a class="btn search-button  btn-register button-hover  btn-block item-hover"
                            style="color: white;" href="{{ url_for('auth.register') }}"><i
                                class="fa fa-user-plus fa-fw"></i> 注册</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}